{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "gophergala learning resources",
        "description": "",
        "termsOfService": "https://boolmeover.com/tos.html",
        "contact": {
            "name": "wwcdc_01"
        },
        "license": {
            "name": "MIT"
        }
    },
    "host": "boolmeover.com",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json",
        "application/octet-stream",
        "multipart/form-data"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/languages": {
            "get": {
                "description": "Returns all languages",
                "operationId": "findLanguages",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "languages response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        },
        "/screenshot/{id}": {
            "post": {
                "description": "Adds a screenshot to the learning resource id specified",
                "operationId": "addScreenshot",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "screenshot",
                        "in": "formData",
                        "description": "screenshot image for the learning resource specified",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of the learning resource",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success response"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        },
        "/learning-resources": {
            "get": {
                "description": "Returns all learning resources",
                "operationId": "findLearningResources",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "types",
                        "in": "query",
                        "description": "learning resource types to filter by, eg. 'online', 'open-source', 'virtual-mentor'",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "learning-resources response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LearningResource"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a new learning resource.",
                "operationId": "addLearningResource",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "learning-resource",
                        "in": "body",
                        "description": "LearningResource to add to the store",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LearningResource"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "learning-resource response",
                        "schema": {
                            "$ref": "#/definitions/LearningResource"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        },
        "/learning-resources/{id}": {
            "get": {
                "description": "Returns a learning resource based on a single ID, if the user has access to the learning resource",
                "operationId": "findLearningResourceById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of learning resource to fetch",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "learning resource response",
                        "schema": {
                            "$ref": "#/definitions/LearningResource"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            },
            "delete": {
                "description": "deletes a single learning resource based on the ID supplied",
                "operationId": "deleteLearningResource",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of learning resource to delete",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "learning resource deleted"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        },
        "/learning-resources/{id}/reviews": {
            "get": {
                "description": "Returns reviews for a particular learning resource.",
                "operationId": "findReviewsForLearningResource",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of learning resource to fetch reviews for",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "learning resource response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Review"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        },
        "/reviews": {
            "get": {
                "description": "Returns recent reviews",
                "operationId": "findReviews",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "reviews response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Review"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a new review.",
                "operationId": "addReview",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "review",
                        "in": "body",
                        "description": "Review to add",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Review"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "review response",
                        "schema": {
                            "$ref": "#/definitions/Review"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        },
        "/reviews/{id}": {
            "get": {
                "description": "Returns a review based on a single ID, if the user has access to the review",
                "operationId": "findReviewById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of review to fetch",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "review response",
                        "schema": {
                            "$ref": "#/definitions/Review"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            },
            "delete": {
                "description": "deletes a single review based on the ID supplied",
                "operationId": "deleteReview",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of review to delete",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "review deleted"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        },
        "/user-auth": {
            "post": {
                "description": "Authenticates a user.",
                "operationId": "authUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "in": "body",
                        "description": "User to login",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserAuth"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success response"
                    },
                    "403": {
                        "description": "fail response"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        },
        "/users": {
            "post": {
                "description": "Registers a new user.",
                "operationId": "addUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "in": "body",
                        "description": "User to register",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserRegistration"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success response"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        },
        "/users/{id}": {
            "get": {
                "description": "Returns a user based on a single ID, if the user has access to the user",
                "operationId": "findUserById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of user to fetch",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "user response",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            },
            "delete": {
                "description": "deletes a single user based on the ID supplied",
                "operationId": "deleteUser",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of user to delete",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "user deleted"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "User": {
            "type": "object",
            "required": [
                "id",
                "name",
                "email"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true
                },
                "name": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                }
            }
        },
        "UserRegistration": {
            "type": "object",
            "required": [
                "name",
                "email",
                "password"
            ],
            "properties": {
                "name": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "UserAuth": {
            "type": "object",
            "required": [
                "email",
                "password"
            ],
            "properties": {
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "Review": {
            "type": "object",
            "required": [
                "id",
                "user_id",
                "learning_resource_id",
                "usefulness",
                "description"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true
                },
                "user_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "learning_resource_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "usefulness": {
                    "type": "integer",
                    "format": "int64"
                },
                "finished": {
                    "type": "boolean"
                },
                "cost": {
                    "type": "integer",
                    "format": "int64"
                },
                "course_size": {
                    "type": "integer",
                    "format": "int64"
                },
                "course_length": {
                    "type": "integer",
                    "format": "int64"
                },
                "course_interaction": {
                    "type": "integer",
                    "format": "int64"
                },
                "description": {
                    "type": "string"
                },
                "review_date": {
                    "type": "string",
                    "format": "date"
                }
            }
        },
        "LearningResource": {
            "type": "object",
            "required": [
                "id",
                "name",
                "url",
                "type"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "languages": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "screenshots": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "ErrorModel": {
            "type": "object",
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}
